<form [formGroup] ='myform' (ngSubmit)='submit()'>
    <h2>Login on as User</h2>

    <div class='form-control'>
        <label for="email">E-mail</label>
        <input type="email" formControlName='email' id="email">
        <div *ngIf="myform.get('email').touched && myform.get('email').invalid" class="validation">
            <small *ngIf="myform.get('email').errors.required">enter e-mail</small>
            <small *ngIf="myform.get('email').errors.email">enter e-mail correctly</small>
        </div>
    </div>

    <div class='form-control'>
        <label for="password">Password</label>
        <input type="password" formControlName='password' id="password">
        <div *ngIf="myform.get('password').touched && myform.get('password').invalid" class="validation">
            <small *ngIf="myform.get('password').errors.required">enter password</small>
            <small *ngIf="myform.get('password').errors.minLength">
                password must be minimum {{myform.get('password').errors.minLength.requiredLength}} characters. 
                Now {{myform.get('password').errors.minLength.actualLength}}
            </small>
        </div>
    </div>
    

    <button type="submit" class="btn btn-primary btn-block" [disabled]="myform.invalid || submitted" (click)='gonext()'>
        Sign in
    </button>

</form>